#divone{
    border-style: solid;
    border-width: 10px;
    padding: 30px;
    background-color: rgb(221, 62, 9);
}
#divtwo{
    border-style: solid;
    border-color: aquamarine;
    padding: 20px;
    border-width: 30px;
    background-color: rgb(25, 48, 2);
}












#divthree{
    border-style: solid;
    border-width: 5px;
    border-color: blueviolet;
    padding: 30px;

}
.box{
    border-style: solid;
    display: inline-block;
    padding: 30px;
    padding-left: 20px;
    background-color: brown;
    
}
