.centre{
  text-align: center;
}
#heading{
  color: rgb(0, 0, 0);
  background-color: aqua;
  margin: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: dashed;
  border-color: rgb(123, 173, 181);
}
#papers{
 text-align: center;
 color: black;
 background-color: rgb(255, 255, 255);
 margin: 50px;
 padding-top: 20px;
 padding-bottom: 20px;
 border-style: dashed;
  
    
}
#Scissors{
  text-align: center;
  color: black;
  background-color: rgb(107, 107, 107);
  margin: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: dashed;

  
}