.centre{
  text-align: center;
}
#heading{
    color: rgb(0, 0, 0);
    background-color: aqua;
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: dashed;
    border-color: blue;
}
#box2{
    background-color: blueviolet;
    padding: 50px;
    word-spacing: 5px;
    
}