*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.container{
    display: flex;
    width:70%;
    margin: 100px auto;
    background: lightblue;
    border: 4px solid black;
    margin-top: 20px;
    justify-content: space-evenly;
    align-items:center ;
    flex-wrap: wrap;
    padding: 30px;
    
}
.items{
    height: 300px;
    border: 1px solid;
    margin: 20px;
    width: 300px;


}